<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1bd63872-e808-41b5-909b-a052867c276b/resourcegroups/rg-avia-backend-sea-dev-001/providers/Microsoft.Web/sites/AviaBackend</ResourceId>
    <ResourceGroup>rg-avia-backend-sea-dev-001</ResourceGroup>
    <ApiResourceId>/subscriptions/1bd63872-e808-41b5-909b-a052867c276b/resourceGroups/rg-avia-backend-sea-dev-001/providers/Microsoft.ApiManagement/service/AviaBackendapi/apis/AviaBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aviabackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f437a853-463f-4c64-9684-87ff0509e34b</ProjectGuid>
    <MSDeployServiceURL>aviabackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AviaBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AviaBackend</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>